# -------------------------
# Logs & diagnostic reports
# -------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
report.*.json

# -------------
# Runtime data
# -------------
pids
*.pid
*.seed
*.pid.lock

# --------------
# Dependency dir
# --------------
node_modules/

# --------------
# Build outputs
# --------------
dist/
dist-ssr/
build/
.storybook-out/
storybook-static/

# ----------
# Vite cache
# ----------
.vite/
node_modules/.vite/

# -------------
# Test outputs
# -------------
coverage/
cypress/videos/
cypress/screenshots/
playwright-report/
test-results/
jest-html-reporters-*.html
junit.xml

# -----------------
# Environment files
# -----------------
.env
.env.*
!.env.example
*.local

# -------------
# Firebase local
# -------------
.firebase/
firebase-debug.log

# ---------------------
# Editor/IDE junk files
# ---------------------
.vscode/*
!.vscode/extensions.json
.idea/
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache

# ---------------
# OS junk files
# ---------------
.DS_Store
Thumbs.db

# ------------
# Build caches
# ------------
.cache/
.parcel-cache/
.turbo/
.npm/
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# ----------------
# TypeScript cache
# ----------------
*.tsbuildinfo

# -----------
# Misc temp
# -----------
tmp/
temp/
